.controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn_start {
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
  border: 2px solid var(--clr-primary-700);
  padding: 0.5rem 1rem;
  transition: background-color 0.4s ease, border 0.4s ease, color 0.4s ease;
  border-radius: 1rem;
  width: 150px;
  font-size: var(--fs-500);
}

.btn_start:hover,
.btn_start[data-active="true"] {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
  border: 2px solid var(--clr-accent-400);
}

.btn_icon {
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  transition: color 0.4s ease;
  color: var(--clr-accent-400);
}

.btn_icon i {
  transition: transform 1s ease;
}

.btn_icon:hover {
  color: var(--clr-primary-700);
}

.btn_icon[data-rotate="true"] i {
  animation: spin 1s;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media (width< 600px) {
  .btn_start {
    font-size: var(--fs-400);
  }
}

@media (width < 380px) {
  .btn_start {
    padding: 0.25rem 0.5rem;
    width: 120px;
  }
}
