.backdrop {
  background-color: var(--clr-primary-700);
  position: fixed;
  inset: 0 0 0 0;
  display: grid;
  place-items: center;
}

.modal {
  width: min(400px, 90vw);
  display: flex;
  background-color: var(--clr-neutral-900);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 4rem 2rem 2.5rem 2rem;
}

.logo {
  font-size: var(--fs-500);
  font-weight: var(--fw-bold);
  cursor: default;
  color: var(--clr-primary-700);
  line-height: 1;
}

.logo span {
  color: var(--clr-accent-400);
}

.title {
  font-size: var(--fs-600);
  color: var(--clr-primary-700);
  line-height: 1;
  margin-bottom: 1rem;
}

.email_input {
  background-color: hsl(0, 0%, 15%);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  outline: none;
  color: var(--clr-neutral-100);
  border: 2px solid hsl(0, 0%, 15%);
  text-align: center;
}

.btn_send {
  margin-top: 1rem;
  background-color: var(--clr-primary-700);
  color: var(--clr-neutral-100);
  border: 2px solid var(--clr-primary-700);
  padding: 0.5rem 1rem;
  transition: background-color 0.4s ease, border 0.4s ease, color 0.4s ease;
  border-radius: 1rem;
  font-size: var(--fs-400);
}

.btn_send:hover {
  background-color: var(--clr-accent-400);
  color: var(--clr-neutral-900);
  border: 2px solid var(--clr-accent-400);
}

.message {
  color: var(--clr-accent-400);
  height: 24px;
  text-align: center;
}

.message[data-hidden="true"] {
  opacity: 0;
}
